* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  background-color: #f7f7f7;
}

.home-text {
  font-family: "Courier New", Courier, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Verdana";
}

p,
span,
a {
  font-family: "Verdana";
}

/* H E A D E R */
#header {
  background-image: url("./personal_bg2.jpg");
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-clip: text;
  color: transparent;
  font-size: 100px;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
}

.menu-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.07);
}

.menu {
  position: fixed;
  top: 20px;
  left: 20px;
}

.nav-content {
  position: relative;
  display: none;
  padding: 0;
  background: rgba(0, 0, 0, 0.8);
}

.nav-content > li {
  list-style: none;
  padding: 5px 20px;
}

.nav-content > li > a {
  display: block;
  text-decoration: none;
  line-height: 32px;
  color: #f5f5f5;

  /* -webkit-transition: .3s;
    transition: .3s;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 0 !important; */
}

.nav-content > li > a:hover,
.active {
  color: #11abb0 !important;
}

.nav-link {
  z-index: 5;
}

.toggler {
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.8);
  display: block;
  cursor: pointer;
  width: min-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: -ms-min-content;
  width: -o-min-content;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: #f5f5f5;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.nav-content #dropdown-menu {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 0;
}

.nav-content #dropdown-menu ul {
  list-style-type: none;
  padding: 0;
}

.nav-content #dropdown-menu ul li a {
  color: #f5f5f5;
}


#intro {
  background-color: #2b2b2b;
}


/* A B O U T */
#about {
  background-color: #f7f7f7;
}

#code-link {
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

#code-link:hover {
  background-size: 0 3px, 100% 3px;
}

/* S C R O L L   D O W N */


.mouse {
	width: 50px;
	height: 90px;
	border: 3px solid ghostwhite; /* #333; */
	border-radius: 60px;
	position: relative;
  left: 50%;
  margin-bottom: 10%;
	&::before {
		content: '';
		width: 12px;
		height: 12px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: ghostwhite;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}




.inner-headings {
  border: 0px solid transparent;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}

.inner-headings span {
  position: relative;
  color: rgba(100, 200, 200, 1);
  animation: animation 10s ease infinite;
}

@keyframes animation {
  0% {
    top: 0;
  }
  20% {
    top: 0;
  }
  25% {
    top: -50px;
  }
  45% {
    top: -50px;
  }
  50% {
    top: -100px;
  }
  70% {
    top: -100px;
  }
  75% {
    top: -150px;
  }
  95% {
    top: -150px;
  }
  100% {
    top: 0;
  }
}




.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}
